{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    <h1>{{ controller_name }}</h1>
    <p class="paragraphHomePage">
    Lorem ipsum dolor sit amet, consectetursed do incididunt ut labore et dolore <br>
    magna aliqua. Ut enim ad minim veniam, <br>
    Quis nostrud exercitation ullamco laboris nisi ut aliquip <br>
    Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate <br>
    Velit esse cillum dolore eu fugiat nulla pariatur. <br>
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia <br>
    Deserunt mollit anim id est laborum.
    </p>

</div>
{% endblock %}
