{% extends 'base.html.twig' %}

{% block title %}Office{% endblock %}

{% block body %}
    <h1>Office</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ office.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ office.nom }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ office.marque }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ office.prix }}</td>
            </tr>
            <tr>
                <th>NbrProduit</th>
                <td>{{ office.nbrProduit }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_office_index') }}">back to list</a>

    <a href="{{ path('app_office_edit', {'id': office.id}) }}">edit</a>

    {{ include('office/_delete_form.html.twig') }}
{% endblock %}
