{% extends 'base.html.twig' %}

{% block title %}Edit LivingRoom{% endblock %}

{% block body %}
    <h1>Edit LivingRoom</h1>

    {{ include('living_room/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_living_room_index') }}">back to list</a>

    {{ include('living_room/_delete_form.html.twig') }}
{% endblock %}
