{% extends 'base.html.twig' %}

{% block title %}New LivingRoom{% endblock %}

{% block body %}
    <h1>Create new LivingRoom</h1>

    {{ include('living_room/_form.html.twig') }}

    <a href="{{ path('app_living_room_index') }}">back to list</a>
{% endblock %}
