{% extends 'base.html.twig' %}

{% block title %}Bedroom{% endblock %}

{% block body %}
    <h1>Bedroom</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bedroom.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ bedroom.nom }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ bedroom.marque }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ bedroom.prix }}</td>
            </tr>
            <tr>
                <th>NbrProduit</th>
                <td>{{ bedroom.nbrProduit }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_bedroom_index') }}">back to list</a>

    <a href="{{ path('app_bedroom_edit', {'id': bedroom.id}) }}">edit</a>

    {{ include('bedroom/_delete_form.html.twig') }}
{% endblock %}
